body{
	margin: 0px;
	padding: 0px;
}
p{
		margin: 3px;
}
h4{
    margin-bottom: 10px;
    margin-top: -5px;
}
.menu {
	height: 80px;
	padding: 10px 50px;
	background: rgba( 234,233,236)
}
.menu-l{
	float: left;
	font-size:20px;
	font-weight: 800;
	margin-top: 30px; 
}
.nav{
	margin: 28px auto 0px auto;
	max-width: 500px;
}
.button{
border: 1px solid black;
color: rgba(43,0,174, 0.7);
font-size: 20px;
padding: 5px 20px;
border-radius: 10px;
background: rgb(239, 239, 239);
float: left;
margin: 0px 5px;
text-decoration: none;

}
img{
	float: right;
	width: 130px;
	height: auto;
}
.content1{

	height: 600px;
	background-image: url("../img/1.jpg");
	background-position: 50% 65%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 1px;
}
.block1{
	max-width: 400px;
	background: rgba(232,232,232,0.3);
	border: 2px solid rgba(43,0,174);
	border-top-left-radius: 50px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 5px;
	margin-top: 50px;
	margin-left: 3%;
	padding: 6px;
    font-family: arial;
}
.block1-h3{
	font-size: 30px;
    margin-bottom: 10px;
    font-family: arial;
    text-align: center;
}
.block1-p{
	font-size: 25px;
	text-align: center;
    margin-bottom: 30px;
}
.color1{
height: 80px;
background: black;
}
.color2{
height: 80px;
background: rgba(1,3,110);;
}
.color3{
	height: 80px;
background: rgb(128,128,128);
}
.content2{
	height: 600px;
	background-image: url("../img/2.png");
	background-position: 50% 50%;
background-repeat: no-repeat;
background-size: cover;
padding: 1px;
}
.block{
	width: 180px;
	height: 350px;
background: rgba(232,232,232,0.9);
border-radius: 20px;
text-align: center;
padding: 20px;
float: left;
margin: 0px 25px;

}
.button2{
	color: rgba(43,0,174, 0.7);
	font-size: 20px;
	padding: 10px;
	border-radius: 8px;
	background: rgb(192,192,192);
	box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
	text-decoration: none;
	margin: 0px auto;
}
.wrap{
	margin: -300px auto;
	max-width: 1080px;
}

.bottom{
	background: black;
	height: 100px;
	color: rgb(192,192,192);
	padding-top: 20px;
}
.bottom-r{
	float: right;
}
